<h3><img style="float:right" src= "/images/foto.jpg" height="180"  alt="Autor">
<%= title %></h3>
<p> Proyecto de Jose Antonio Valenzuela Burgos<p>
<p> Conoce mi página <a href="http://josevalenzuela.neocities.org">Jose Valenzuela</a>
